@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruda:wght@400..900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #e11d48;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #e11d48, 0 0 5px #e11d48;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #e11d48;
  border-left-color: #e11d48;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-indigo-500;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}


.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
  .profile{
    left:0;
    top:0;
    margin:0px auto ;
    text-align: center !important;
    justify-content: center !important;

  }
}

/* Slider */







/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  width:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.tutor-container {
  background-image: url("/public/tutorbanner.png");
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  position: relative;
  opacity: 0.5;

} 
.banner-main{
  background-color:#F8F8F8;
}
/* 1E1E1E */
.main-tutor{
  width:85% ;
}
.tutor-cards{
  margin: 29px 10px;
  border-radius: 20px;
  height: 287px !important;

}
.all-m{
margin-top: 10px ;

}
.baneer-f{
  font-family: 'Li Ador Noirrit', sans-serif;
                                                
}
.home-title{
font-family:  'Li Ador Noirrit', sans-serif;
font-size: 55px;
}
.home-sub{
  font-family:  'Li Ador Noirrit', sans-serif;
  font-size: 20px;
   
}

.activeB {
  opacity: unset;
}
.activeBa {
  border-bottom: 10px solid #1DA463;
  opacity: unset;
  margin-top: 10px;
  margin-bottom: -6px;
  width: 95px;
}
.dark-input {
  color: #000; /* Black text color */
}



.navigation-tutor{
  background-color: #2E6755;
  padding-bottom: 3px;
}
.search-button {
  border-radius: 13px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: auto;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top-home {
  width: 54%;
  justify-content: left;
  top: 70px;
}
/* Frame 1171276945 */

/* Auto layout */
.home-icon {
  margin-left: -126px;
}

.home-c{
  width: 85%;
}
.home-status-h{
  background-color: #FFFFFF;
  width: 100%;
}
.tutor-title{
  font-family:  'Li Ador Noirrit', sans-serif;
font-size: 55px;
text-justify: auto;
}
.home-top-sub{
  text-justify: auto;
}
.special-post{
  margin-top: 10px;
  
}
.total-s{
  max-width: 297px;
    max-height: 106px
}
.test-s{
  margin: 10px;
}
.download-app{
  background-color: #FFFFFF;
  padding-bottom: 10px;
}
.overview-m{

  padding-top: 40px;
padding-bottom: 10px;
margin-top: 10px;
width:85% ;

}
.main-over{
  height: 29rem;
}
.butom-home{
  top:150px ;
  left:53px ;
}
.botom-title{
  font-family:  'Li Ador Noirrit', sans-serif;
font-size: 30px;
}
.rating-rev{
  padding: 2px;
  border:1 px solid wheat;
}

h1 h2 h3 p button {
  font-family:  'Li Ador Noirrit', sans-serif;

}
.profile {
  left: 146px;
  top: 73px;
}
.icons {
  width: 57.18px;
  height: 57.18px;
  border: 1.42957px solid #E5E5E5;
  border-radius: 50%; /* Makes the icon circular */
  color: #000000;
  box-shadow: #E5E5E5;
  padding: 15px; /* Adjust as needed */
}
@media screen and (max-width: 384px) {
  .profile{
    left: 130px;
        top: -40px;

  }
  .navigation-tutor {
    background-color: #2E6755;
    padding-bottom: 3px;
    font-size:16px;
}
}

/* Social Media List */

.TpostBanner{
  background-color: #FFFFFF;
}
.icons-s{
  background-color: #000000;
  color: #000000;
}
.verified-col{
  color:#1DA463
}
.main-si{
  color: #000000;
  padding: 1px;
}
.search-button {
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* 
.search-button:hover {
  background-color: #edf2f7;
  border-color: #cbd5e0;
} 
  */

.banner-round{
  border-radius: 100px;
}

.ic-content{
  margin-left:30px;
}
.ic-contents{
  margin-left: 10px;
  margin-top: -4px;
}
.Image-rep{
  margin-right: 1px;
}
.gender{

}
.others{
margin-top:5px;
}
@media (min-width: 640px) {
  .search-button {
    /* Additional styles for small (sm) and medium (md) screens if necessary */
  }
  .contents {
    margin-left: 26px;
  }
 

}
@media (max-width: 640px) {
  .search-button {
    /* Additional styles for small (sm) and medium (md) screens if necessary */
  }
  .main-tutor{
    width:100% ;
  }
  .tu-card{
    width: 149px ;
    height: 239px !important;
    margin: 6px auto !important;
  }
  .contents {
    margin-left: 26px;
  }
 
}
.main-t{
  max-width: 300px !important;
  
}

.main-dis{
  padding-bottom: 70px;
}
.top-right {
  height: 529px;
}
.rank-box{
  margin:10px 0px 0px 0px;
}
@media (max-width: 1023px) {
  .search-button {
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    box-shadow: none;
  }
  .bannar-searchCom{
    width: 90% !important;
  }
}

@media (min-width: 1024px) {
  
 
  .main-dis{
 display:hiden ;
  }
  .mobile-rank{
    display:block
  }
  .top-right {
    display:hiden ;

  }
  .rank-box{
     display:hiden ;

  }
  .main-tt{
    display:hiden ;
  }
}

.main-tutor-butoon{
  width:80% ;
}


.inlineContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inlineButton {
  background-color: #f0f0f0;
 
}

/* Ensure your CSS file or style block includes this */
.tu-card {
  transition: box-shadow 0.3s ease-in-out;
}

.hoverable:hover {
  box-shadow: 0px 4px 8px rgba(197, 197, 197, 0.2);
}
.rtang{
  margin-top:-3px;
}
/* styles/globals.css */
/* styles/globals.css */
.shadow {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), /* top shadow */
              0 4px 6px -1px rgba(0, 0, 0, 0.1),  /* bottom shadow */
              -4px 0 6px -1px rgba(0, 0, 0, 0.1), /* left shadow */
              4px 0 6px -1px rgba(0, 0, 0, 0.1);  /* right shadow */
}


.custom-shadow-hover:hover {
  box-shadow: 
    0 0px 0px 0px rgba(203, 203, 203, 1),   /* top shadow */
    0 42px 50px -1px rgba(203, 203, 203, 1), /* bottom shadow with extra 10px */
    -11px 0 20px -1px rgba(203, 203, 203, 1), /* left shadow */
    11px 0 20px -1px rgba(203, 203, 203, 1);  /* right shadow */
  border: 2px solid green;
}

.boxulter{
   margin:70px;
}
.hidenT{
 margin:70px;
}


